
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:wght@100;300&family=Rubik+Puddles&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:wght@100;300&family=Rubik+Puddles&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root {
    --background-color: #1A1919;
    --pink-color: #cfb1a6;
    --bWhite-color: #f6f6f6;
    --dWhite-color: #f3f3f3;
  }

  body {
    background-color: var(--background-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var(--bWhite-color);
    opacity: 0.9;
    height: 100vh;
  }

@media screen and (max-width: 762px) {
  #root {
    height: 90vh;
  }
}
  

 
