@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300&family=Poppins&family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:wght@100;300&family=Rubik+Puddles&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A1919;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.container-hero {
  display: flex;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 5vw;
 width: 40%;
 justify-content: space-between;
 flex-wrap: wrap;
}

.h1-hero {
  font-size: 4vw;
  font-family: 'Commissioner', sans-serif;
  font-weight: 200;
  line-height: 1.7;
  color: #F6F6F6;
}

.pictures-section {
  width:60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 27vh 27vh;
  position: relative;
}

.shape1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-464-td-0170-04_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=db5f46e37d9876d5d8f43c85fd5df28f);
  background-size: cover;
  border-radius: 0 75px 75px 0 ;
}

.shape2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-464-td-0170-04_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=db5f46e37d9876d5d8f43c85fd5df28f);
  background-size: cover;
  border-radius: 100%;
}

.shape3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-464-td-0170-04_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=db5f46e37d9876d5d8f43c85fd5df28f);
  background-size: cover;
  border-radius: 100%;
}

.shape4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-464-td-0170-04_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=db5f46e37d9876d5d8f43c85fd5df28f);
  background-size: cover;
  border-radius: 75px 0 0 75px;
}